:root {
  --primary: #54bca4;
  --font: #1a2c24;
  --yellow: #f8d95f;
}

* {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: var(--font);
  max-height: 2000px;
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  algin-items: center;
  pading: 1.4rem 7%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 2rem;
  right: 2rem;
  z-index: 9999;
  border-bottom: 1px solid var(--primary);
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
}
.navbar-logo span {
  color: #f8d95f;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: var(--font);
  display: inline-block;
  font-size: 0.9rem;
  margin: 1rem 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  pading-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linier;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar-extra .masuk {
  margin: 0rem 0.5rem;
  border: 1px;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: var(--primary);
  background-color: rgba(0, 0, 0, 0);
}
.navbar-extra .daftar {
  margin: 0.5rem 0.5rem;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  background-color: var(--primary);
}
.navbar-extra .masuk:hover {
  background-color: var(--primary);
  color: #ffffff;
}
.navbar-extra .daftar:hover {
  background-color: #ffffff;
  color: var(--primary);
  border: 1px solid var(--primary);
}
.navbar-extra a {
}
#menu {
  color: var(--primary);
  margin: 0.5rem 0.5rem;
  display: none;
} /*stastistika*/

/*media query*/
/*laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}
/*tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #b5faea;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav a {
    color: var(--font);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
}
/*hp*/
@media (max-width: 450) {
  html {
    font-size: 55%;
  }
  #menu {
    display: inline-block;
  }
  .navbar-extra {
    display: none;
  }
}
:root {
  --primary: #54bca4;
  --font: #1a2c24;
}

* {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: var(--font);
  max-height: 2000vh;
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  algin-items: center;
  pading: 1.4rem 7%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 1px solid var(--primary);
}
.logo-nav {
  display: inline-block;
  align-items: center;
  padding: 0rem 1rem;
}
.logo-nav.navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
}
.logo-nav .navbar-logo span {
  color: #f8d95f;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: var(--font);
  display: inline-block;
  font-size: 0.9rem;
  margin: 1rem 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  pading-bottom: 0.5rem;

  transform: scaleX(0);
  transition: 0.2s linier;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar-extra .masuk {
  display: inline-block;
  border: 0;
  line-height: 2.5;
  padding: 0rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: var(--yellow);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--yellow);
}
.navbar-extra .daftar {
  display: inline-block;
  border: 0;
  line-height: 2.5;
  padding: 0rem 1rem;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  background-color: var(--primary);
}
.navbar-extra .masuk:hover {
  background-color: var(--yellow);
  color: #ffffff;
}
.navbar-extra .daftar:hover {
  background-color: #ffffff;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.navbar-extra #menu {
  color: var(--primary);
  margin: 0.5rem 0.5rem;
  display: none;
}
/*hero */
.row {
  min-height: 100vh;
  display: flex;
  align-items: center;

}
.row-label {
  padding: 1rem 7%;
}

.row-img img {
  width: 500px;
   object-fit: cover;
  object-position: center;
}
.label-hero h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--font);
}
.label-hero span {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
}
.label-hero {
  margin-bottom: 16px;
}
.paragraf-hero p {
  font-size: 1rem;
  font-weight: 200;
  color: var(--font);
}
.cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 32px;
}
/*stastistik*/
.label-stastistik {
  padding: 4rem 7% 1.4rem;
  text-align: center;
}
.label-stastistik h2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
}
.label-stastistik h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font);
}
.tabel-stastistik {
  margin-top: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
.sta1 {
  border: 1px solid var(--primary);
  display: inline-block;
   margin-right: 1rem; 
  padding: 0.5rem 7%;
  border-radius: 20px;
  color: var(--font);
}
.sta1 img {
  width: 3rem;
  height: 3rem;
}

.ket {
  margin: 10px;
  font-weight: 300;
}
.sta1 :before{
sition: absolute;
width:90%;
height: 100%;
background-image:inherit;
background-size: cover;
margin:3rem;
transition:all 1s;
}
.sta1:hover{
  transform:scale(1.1);
}
/*layanankami*/
/* .layanankami{
  margin-top:8rem;
  padding:1.4rem 7%;
  background-color:#DCFFEA;
}
 .label-layanankami{
  margin-top:2rem;
  text-align: center;
  color: var(--font);
  font-weight: 600;
  font-size:1rem;
}
.container-lk{
  display: flex;
  justify-content: center;
  text-align: center;
 
}
.img-lk img {
  width: 60%;
  
  padding-right:10rem 1rem; 
}
.ketlayanankami{
 padding:6rem 1rem;
 
}
.edukasi{
  text-align:center;
}
.edukasilayanankami{
  text-align:left;
} */
/*layanan kami*/
.layanankami{
  margin-top:8rem;
  padding:1.4rem 7%;
  background-color:#DCFFEA;
}
.label-layanankami{
  margin-top:2rem;
  text-align: center;
  color: var(--font);
  font-weight: 600;
  font-size:1rem;
}
.row-layanan{
  display: flex;
  margin-top: 3rem;
  text-align: center;
  

}
.card-layanan{
  text-align: center;

}
.card-layanan img{
 border-radius: 0%;
  width:50%;
  height:auto;
  border: 2px solid var(--primary);
}
.card-title-layanan{
  margin-top:1.5rem;
}
.card-layanan-ket{
  margin-top:1rem auto 0.5remm;
  padding:0.5rem 8%;
  text-align: left;
  

}
/*prinsip kerja */
.label-pr{
  font-size:1.4rem;
  color: var(--font);
  text-align: center;
 margin-top:3rem;
}
/* .row-pr{
  display: grid;
  grid-template-rows: repeat(2, 1fr); 
  /* 2 baris yang sama tingginya */
  /* grid-template-columns: repeat(3, 1fr);  */
  /* 3 kolom yang sama lebarnya */
  /* gap: 20px;
  justify-items: center;  */
  /* pusatkan item secara horizontal */
  /* align-items: center; */
  /* pusatkan item secara vertikal */
}*/
/* #icons-pr{
  color:yellow;
}
.card-pr{
 margin-left:1.5rem;
 margin-right:8rem;
  text-align:center;
  padding:3rem 7%;
  width: 180px;
  height: 180px;
  margin-right:2rem;
  border:1px solid var(--primary);
  justify-content:center;
  font-size:1rem
  color:white;
  background-color:var(--primary);
  border-radius:50%;
  color:white;
 
} */
/*artikel */
.artikel{
  margin-top:8rem;
  padding:3rem 7%;
}
.label-artikel{
  margin-top:2rem;
  text-align: center;
  color: var(--font);
  font-weight: 600;
  font-size:1.2rem;
}
.row-artikel{
  display: flex;
  margin-top:2rem;
  
  
}
.card-artikel{
  margin-right:2rem;
  justify-content: space-between;
   margin-top:1rem;

 }
.imgar{
  width:90%;
  text-align: center;
  border-radius:16px;
 
}
.titlear{
  margin-top:1rem;
  color:var(--primary);
  font-weight: 600;
  font-size:18px;
}
.judular{
  margin-top:1rem;
  color:var(--font);
  font-weight: 600;
}
.ketar{
  padding: auto 2rem;
  color:var(--font);
}
.sly{
margin-top: 3rem;
padding: 0.5rem 55%;

  color:var(--primary);
}
/*kontak*/
.label-kontak{
  margin-top:4rem;
  color: var(--font);
  text-align: center;
}
.kontak-title{
  font-weight: 600;
  font-size: 24px;
}
.label-kontak p{
 font-size:20px;
 font-weight:500;
 color:var(--primary);
 margin-top:1rem;
 text-align:center;
 margin-bottom:3rem;
}

.row-kontak{
  display:flex;
}
 .map{
  flex: 1 1 45rem;
  width:100%;
  object-fit: cover;
}
.kontak .row-kontak form{
  flex:1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.kontak .row-kontak form .input-kontak{
  display:flex;
  align-items:center;
  margin-top: 2rem;
  border:2px solid var(--primary);
  padding-left: 2rem;

}

/*footer*/
.footer{
  margin-top: 8rem;
  background-color:#1B443B;
  color:white;
}
.footersipenting{
  display:flex;
  padding:3rem 7%;
  justify-content: space-around ;
 
  
 
  
}

.label-footer .sipen {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary);
  font-size:24px;
}
.label-footer span {
  color: #f8d95f;
  font-style: italic;
}
.label-footer h6 {
  color: white;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
}
.icons-footer {
  margin-top: 1rem;
}
.icons-footer .iconsf{
color: white;
   
}
.layanakami-footer{
  font-size:24px;
  font-weight: 700;
}
.layanakami-footer .lkf{
display:block;
font-size:14px;
color: white;
font-weight:300;
margin-top:10px;
}
.kerjasama-footer{
  font-size:24px;
  font-weight: 700;
  margin-bottom:2rem;
}
.kerjasama-footer .kf{
  display:block;
font-size:14px;
color: white;
font-weight:300;
margin-top:10px;
}
.akhirfooter{
  margin-top:10px;
  display:flex;
  justify-content: space-around;
  font-size:14px;
  border-top: 1px solid #ffffff ;
  padding:1.4rem 7%;
}









/*media query*/
/*laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}
/*tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .logo-nav {
    display: inline-block;
    padding: 1rem 3%;
  }

  .navbar-extra #menu {
    display: inline-block;
    padding: 1rem 0%;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #b5faea;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav a {
    color: var(--font);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  /*hero */
  .row {
    display: block;
  }
  .row-img{
    width: 100%;
    text-align: center;
    margin: auto 1rem;
    justify-content:center;
    padding:2rem 2%;
  }

  .row-label {
    padding: 8rem 5%;
    text-align: center;
  }
  /*stastistik*/
  .stastistik{
    margin-top:0.5rem;
  }
  .tabel-stastistik {
    display: grid;
    place-items: center;
    
}
.sta1{
  padding:1rem 5rem;
  margin-bottom:1rem;
}
.sta1 :before{
  sition: absolute;
  width:90%;
  height: 100%;
  background-image:inherit;
  background-size: cover;
  margin:3rem;
  transition:all 1s;
  }
  .sta1:hover{
    transform:scale(1.1);
  }
  /*layanan kami */
  /* .container-lk {
    display: grid;
    place-items: center;    
} */
/*layanankami*/
.row-layanan{
  display: block;
  place-items: center;
}
.card-layanan{
  padding:1.5rem 10%;
}
.card-layanan-ket{
  text-align:center;
}
/*hp*/
@media (max-width: 450) {
  html {
    font-size: 55%;
  }
  .navbar-extra {
    display: inline-block;
  }
}
